<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>这个天才又来啦❤️</title>
</head>
<body>
<!--这里要定义一个根元素  用vue 这样做会避免一些不必要要的问题-->
<div id="root">
    <!--定义一个表单并且给这个表单添加事件-->
    <form @submit.prevent="add_task()">
        <input type="text" placeholder="将要添加的任务" v-model="new_list.task_name">
        <button type="submit">+</button>
    </form>
    <p>未完成</p>
    <!--在定义一个div 用来装遍历的结果-->
    <div v-for="(item_task,i) in task_list" style="color: #5a5a5a;margin-top: 20px;">
        任务{{item_task.id}}:&nbsp; &nbsp; &nbsp; &nbsp;{{item_task.task_name}}&nbsp; &nbsp; &nbsp; &nbsp;
        <!--这里多传一个字符串 参数  以便于后面的 判断这个是哪个数组里面的删除-->
        <button @click="del(i,'a')"> X</button>
        <button @click="updata(i,'f')">G</button>
        <button @click="success__task(i,'m')">√</button>
    </div>
    <!--因为有一个任务完成事件所以要 在定义一个div 把完成的 放到这个里面-->
    <!--还要在定义一个数组  把完成的放到这个数组中  之后遍历这个数组-->
    <p>完成</p>
    <div v-for="(success_1,i) in success_task " style="color: #b6b6b6;margin-top: 5px;">
        任务{{success_1.id }}:&nbsp; &nbsp; &nbsp; &nbsp;{{success_1.task_name}}&nbsp; &nbsp; &nbsp; &nbsp;
        <button @click="del(i,'b')"> X</button>
        <button @click="updata(i,'g')">G</button>
        <button @click="success__task(i,'n')">√</button>
    </div>
</div>


<script src="https://cdn.bootcss.com/vue/2.4.4/vue.js"></script>
<script src="main.js"></script>
</body>
</html>